.movies-cardlist__items {
    padding: 40px 0px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 236px);
    gap: 16px;
    justify-content: center;
}

.movies-cardlist__more {
    padding: 50px 0px 80px;
}

.movies-cardlist__more-button {
    border-radius: 6px;
    background: #F9F9F9;
    width: 100%;
    text-align: center;
    padding: 11px 0px 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    cursor: pointer;
}

.movies-cardlist__more-button :hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .movies-cardlist__items {
        padding: 70px 0px 30px;
        grid-template-columns: repeat(auto-fit, 339px);
        grid-template-rows: repeat(auto-fit, 258px);
        row-gap: 36px;
        column-gap: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-cardlist__items {
        grid-template-columns: repeat(auto-fit, 364px);
        grid-template-rows: repeat(auto-fit, 271px);
        row-gap: 30px;
        column-gap: 24px;
    }
}