.movie-card {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movie-card__header {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin: 14px 0px 0px 14px;
}

.movie-card__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin: 0px;
}

.movie-card__duration {
    margin: 0px;
    color: #A0A0A0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.movie-card__image {
    width: 100%;
    object-fit: cover;
}

.movie-card__button {
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    top: 19px;
    right: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.movie-card__button_type_unsaved {
    background: url('../../images/movie-save-btn-icon.svg');
}

.movie-card__button_type_saved {
    background: url('../../images/movie-saved-btn-icon.svg');
}

.movie-card__button_type_delete {
    background: url('../../images/movie-delete-btn-icon.svg');
}