.movies {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .movies {
        padding: 0px 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies {
        padding: 0px 70px;
    }
}