.project {
    padding: 70px 18px;
}

.project__about {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-bottom: 60px;
}

.project__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project__duration {
    display: flex;
    width: 100%;
}

.project__backend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    align-items: center;
}

.project__frontend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}

.project__week {
    width: 100%;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    padding: 11px 0px;
    text-align: center;
    background: #2BE080;
}

.project__week_front {
    background: #F2F2F2;
}

.project__lang {
    color: #A0A0A0;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

@media screen and (min-width: 768px) {
    .project {
        padding: 90px 50px;
    }

    .project__about {
        flex-direction: row;
        gap: 30px;
        margin-bottom: 93px;
    }

    .project__description {
        gap: 22px;
    }

    .project__backend {
        gap: 14px;
        width: 21%;
    }

    .project__frontend {
        gap: 14px;
    }

    .project__week {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 0px;
    }

    .project__lang {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (min-width: 1280px) {
    .project {
        padding: 110px 70px;
    }

    .project__about {
        gap: 52px;
        margin-bottom: 110px;
    }

    .project__description {
        gap: 26px;
    }

    .project__backend {
        width: 20%;
    }

    .project__lang {
        font-weight: 500;
    }
}