.auth {
    padding: 56px 30px 0px;
    margin: auto;
    max-width: 396px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    height: 468px;
    justify-content: space-between;
}

.auth__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth__header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 0px 80px;
    align-items: center;
}

.auth__logo {
    width: 38px;
    height: 38px;
    background: url('../../images/logo-auth.svg');
    cursor: pointer;
}

.auth__logo:hover{
    opacity: 0.7;
}

.auth__title {
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.auth__error {
    color: #FF004C;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    text-align: center;
    display: none;
}

.auth__error_visible {
    display: block;
}

.auth__submit-button {
    border-radius: 3px;
    background: #FF6838;
    border: 0;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 15px;
    text-align: center;
    max-width: 396px;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}

.auth__submit-button:hover {
    opacity: 0.8;
}

.auth__submit-button_disabled {
    background: #F8F8F8;
    color: #000000;
    cursor: default;
}

.auth__text {
    color: #A0A0A0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 0px;
    padding: 14px 0px 30px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.auth__link {
    color: #FF6838;
    text-decoration: none;
    cursor: pointer;
}

.auth__link:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .auth {
        padding: 232px 0px 0px;
    }

    .auth__form {
        height: 380px;
    }

    .auth__header {
        gap: 40px;
        padding-bottom: 40px;
        align-items: start;
    }

    .auth__submit-button {
        font-size: 14px;
        line-height: 17px;
        padding-top: 13px;
    }

    .auth__submit-button_register{
        margin-top: 71px;
        font-size: 14px;
    }

    .auth__text {
        font-size: 14px;
        line-height: 17px;
        padding: 16px 0px 0px;
    }
}

@media screen and (min-width: 1280px) {
    .auth {
        padding: 70px 0px 0px;
    }
}