.navigation {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    inset: 0;
    visibility: hidden;
}

.navigation_visible {
    visibility: visible;
}

.navigation__menu {
    background: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-width: 320px;
    padding: 144px 10px 48px;
    max-width: 520px;
}

.navigation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.navigation__link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
}

.navigation__link_active {
    text-decoration: underline;
    text-underline-offset: 11px;
}

.navigation__link:hover {
    opacity: 0.7;
}

.navigation__profile {
    display: flex;
    gap: 17px;
    text-decoration: none;
    color: #000;
    align-items: center;
    padding: 1px 0px;
}

.navigation__text {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.navigation__text:hover {
    opacity: 0.7;
}

.navigation__icon {
    padding: 8px 7px;
    border-radius: 4px;
    background: #F9F9F9;
}

.navigation__icon:hover {
    opacity: 0.8;
}

.header__menu-button {
    background: url(../../images/burger-menu-icon.svg);
    background-position: center;
    width: 40px;
    height: 43px;
    padding: 0px;
    position: absolute;
    top: 15px;
    right: 14px;
    cursor: pointer;
    z-index: 5;
}

.header__menu-button:hover {
    opacity: 0.8;
}

.header__menu-button_closed {
    background: url(../../images/burger-menu-close-icon.svg);
    width: 22px;
    height: 22px;
    background-position: center;
    top: 18px;
    right: 18px;
}

@media screen and (min-width: 768px) {
    .navigation__menu {
        padding: 159px 90px 92px;
    }

    .navigation__links {
        gap: 28px;
    }

    .header__menu-button {
        right: 30px;
        width: 44px;
        height: 44px;
    }

    .header__menu-button_closed {
        top: 16px;
        right: 16px;
    }
}

@media screen and (min-width: 769px) {
    .navigation {
        position: relative;
        margin-left: 44px;
        flex-grow: 1;
        transition: none;
        visibility: visible;
    }

    .navigation_blue-theme {
        background-color: #465DFF;
    }

    .navigation__menu {
        padding: 0px;
        flex-direction: row;
        flex-grow: 1;
        max-width: 100%;
    }

    .navigation__menu_blue-theme {
        background-color: #465DFF;
    }

    .navigation__links {
        flex-direction: row;
        gap: 16px;
    }

    .navigation__link {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }

    .navigation__link_active {
        font-weight: 500;
        text-decoration: none;
    }

    .navigation__link_blue-theme {
        color: #FFF;
    }

    .navigation__text_blue-theme {
        color: #FFF;
    }

    .navigation__icon_blue-theme {
        background: #2BE080;
    }

    .header__menu-button {
        visibility: hidden;
    }
}