/* 294px */
.portfolio {
    padding: 0px 14px 70px;
}

.portfolio__title {
    color: #A0A0A0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 40px;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio__item {
    padding-bottom: 19px;
    border-bottom: 1px solid #E6E6E6;
}

.portfolio__item:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
}

.portfolio__link {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.portfolio__link-item {
    margin: 0px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
}

@media screen and (min-width: 768px) {
    .portfolio {
        padding: 0px 50px 90px;
    }

    .portfolio__title {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .portfolio__link-item {
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -1.12px;
    }
}

@media screen and (min-width: 1280px) {
    .portfolio {
        padding: 0px 70px 125px;
    }

    .portfolio__link-item {
        font-size: 30px;
        letter-spacing: -1.2px;
    }
}