.header {
    display: flex;
    padding: 18px 14px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_blue-theme {
    background: #465DFF;
}

.header__logo {
    background: url('../../images/logo-auth.svg');
    width: 38px;
    height: 38px;
}

.header__logo:hover{
    opacity: 0.7;
}

.header__sign-links {
    display: flex;
    gap: 14px;
    align-items: center;
}

.header__signup-link {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
}

.header__signup-link:hover {
    opacity: 0.7;
}

.header__signin-link {
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    background: #2BE080;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 12px;
}

.header__signin-link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 18px 30px;
    }

    .header__sign-links {
        gap: 30px;
    }

    .header__signup-link {
        font-size: 12px;
    }

    .header__signin-link {
        font-size: 12px;
        padding: 8px 20px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 18px 70px;
    }
}