.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input__label {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.form-input__input {
    border: none;
    border-radius: 8px;
    background: #F9F9F9;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 15px;
}

.form-input__input:focus-visible {
    outline: green groove thin;
}

.form-input__error {
    display: none;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}