.footer {
    padding: 79px 10px 20px;
}

.footer__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 0px;
}

.footer__text_title {
    color: #A0A0A0;
    padding-bottom: 21px;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
}

.footer__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.footer__link {
    text-decoration: none;
    color: #000;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 79px 30px 20px;
    }

    .footer__text {
        font-size: 13px;
        line-height: 16px;
    }

    .footer__text_title {
        padding-bottom: 20px;
    }

    .footer__items {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px;
    }

    .footer__links {
        flex-direction: row;
        gap: 20px;
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 79px 70px 20px;
        background: #FAFAFA;
    }
}