/* 904px */
.about-me {
    padding: 70px 14px;
}

.about-me__photo {
    width: 292px;
    height: 352px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__name {
    margin: 0px 0px 20px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -1.2px;
}

.section-text_about-me {
    font-weight: 500;
    margin-bottom: 20px;
}

.about-me__link {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    margin-top: 40px;
}

.about-me__link:hover {
    opacity: 0.7;
}

/* 604px */
@media screen and (min-width: 768px) {
    .about-me {
        padding: 90px 50px;
    }

    .section-header_about-me {
        margin-bottom: 66px;
    }

    .about-me__resume {
        display: flex;
        gap: 49px;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
        object-fit: cover;
        order: 2;
        margin-bottom: 0px;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
        margin-bottom: 16px;
    }

    .about-me__link {
        margin-top: 87px;
    }
}

/* 653px */
@media screen and (min-width: 1280px) {
    .about-me {
        padding: 110px 70px 100px;
    }

    .about-me__resume {
        gap: 270px;
    }

    .about-me__photo {
        width: 270px;
        height: 327px;
    }

    .about-me__name {
        font-size: 50px;
        line-height: 58px;
        letter-spacing: -2px;
        margin-bottom: 18px;
    }

    .section-text_about-me {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 26px;
    }

    .about-me__link {
        margin-top: 87px;
    }
}