.not-found {
    display: flex;
    flex-direction: column;
    gap: 284px;
    text-align: center;
    padding: 329px 10px 0px;
}

.not-found__page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.not-found__title {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 97px;
    margin: 0px;
}

.not-found__subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 0px;
}

.not-found__button {
    color: #FF6838;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    border: 0;
    background: none;
    padding: 0px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .not-found {
        gap: 184px;
        padding: 408px 0px 0px;
    }
    
    .not-found__page {
        gap: 5px;
    }
    
    .not-found__title {
        font-size: 140px;
        line-height: 169px;
    }
    
    .not-found__subtitle {
        font-size: 16px;
        line-height: 19px;
    }
    
    .not-found__button {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (min-width: 1280px) {
    .not-found {
        padding: 246px 0px 0px;
    }
}